<h1><%= @event.name %></h1>
<% if @event.description %>
  <p><i><%= @event.description %></i></p>
<% end %>
<% if @event.end_date %>
  <p>Started at (<%= @event.start_date %>)</p>
  <p>Ended at (<%= @event.end_date %>)</p>
<% else %>
  <p>Starting at (<%= @event.start_date %>)</p>
<% end %>
<p>Created at (<%= @event.created_at %>)</p>
<p>By <%= @event.creator.full_name %> </p>
